.aftags-clickable {
	cursor : pointer;
}

.aftags-option {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}


.aftags-tag-container {
	margin  : 4px;
	padding : 4px;
}


.aftags-close {
	padding-left : 8px;
}


.aftags-tags {

}

.aftags-input {
	min-width : 5rem;
}

.aftags-range {
	padding: 4px;
}

.aftags-wrap {
    display         : flex;
    flex-direction  : column;
    white-space: inherit !important;

    /* These are technically the same, but use both */
    overflow-wrap   : break-word;
    word-wrap       : break-word;

    -ms-word-break  : break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    /* word-break      : break-all; */
    /* Instead use this non-standard one: */
    word-break      : break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens     : auto;
    -moz-hyphens    : auto;
    -webkit-hyphens : auto;
    hyphens         : auto;
}

.aftags-passive {
    pointer-events: none;
}