.aftags-clickable {
	cursor : pointer;
}

.aftags-option {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.aftags-close {
	padding-left : 8px;
}

.aftags-input {
	min-width : 5rem;
}

.aftags-range {
	padding: 4px;
}

.aftags-passive {
    pointer-events: none;
}